h1 {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color:blue;
    padding: 8px;
    font-size: 2.5em;
}

h2 {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

p1 {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    padding: 8px;
}

body {
    background-color: white;
    /*margin-left: 150px;
    margin-right: 150px;*/
    width: 76%;
    margin-left: 12%;
    margin-right: 12%;
}

.calculation_container {
    display: flex;
    gap: 20px;
}

.input_container {
    flex: 2;
    background-color: #EEF5FF;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px 30px;
    /* width: 300px; */
}

.input_container h2 {
    margin-bottom: 30px;
    text-align: start;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-family: Roboto;
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

.form-group input[type="number"]{
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input[type="submit"] {
    width: 100%;
    font-family: Roboto;
    font-weight: bold;
    background-color: #687EFF;
    font-size: 16px;
    color: white;
    border: #687EFF;
    border-radius: 6px;
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.form-group input[type="submit"]:hover {
    background-color: #4942E4;
    color: rgb(234, 234, 234);
    border: #4942E4;
}

.output_container {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    flex: 5;
    border-radius: 22px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px 30px;
}

.principal_plot {
    margin: auto;
    width: 80%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.amortization_table table{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: auto;
    width: 80%;
    border-collapse: collapse;
    margin-top: 40px;
    margin-bottom: 40px;
}

.amortization_table th, td{
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even){background-color: #f2f2f2}

.amortization_table th {
  background-color: #4942E4;
  color: white;
}