{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Auto Loan Calculator</title>
    <link rel="stylesheet" href="{% static 'calculator/css/mainStyles.css' %}">
<!--    <script src="{% static 'calculator/js/charts.js' %}"></script>-->
</head>
<body>
    <h1>Auto Loan Calculator</h1>
    <p1>Welcome to the Auto Loan Calculator. Insert your car's loan information to calculate your financing details and make
         the best decision for you!
    </p1>
    <br>

    <div class="calculation_container">
        
        <div class="input_container">
            <h2>Loan details</h2>
            <form method="post" action="">
                {% csrf_token %}
                <div class="form-section" id="standard_section">
                    <div class="form-group">
                        <label for="car_price">Car price ($)</label>
                        <input type="number" id="car_price" name="car_price" value="{{ car_price }}" required>
                    </div>
                    <div class="form-group">
                        <label for="loan_duration">Loan duration (months)</label>
                        <input type="number" id="loan_duration" name="loan_duration" value="{{ loan_duration }}" required>
                    </div>
                    <div class="form-group">
                        <label for="interest">Interest rate (%)</label>
                        <input type="number" step="0.01" id="interest" name="interest" value="{{ interest }}" required>
                    </div>
                    <div class="form-group">
                        <label for="down_payment">Down payment ($)</label>
                        <input type="number" id="down_payment" name="down_payment" value="{{ down_payment }}">
                    </div>
                    <div class="form-group">
                        <label for="start_date">Start date</label>
                        <input type="text" id="start_date" name="start_date" placeholder="MM/DD/YYYY" value="{{ form.date.value|default:'' }}" required>
                        {% if form.date.errors %}
                            <div class="error">{{ form.date.errors }}</div>
                        {% endif %}
                    </div>
                    <br>
                    <a href="#" class="nav-link" onclick="navigateSection(event, 'advanced_section')">Advanced option</a>
                </div>
                <div class="form-section" id="advanced_section">
                    <div class="form-group">
                        <label for="early_payment">Early payment ($)</label>
                        <input type="number" id="early_payment" name="early_payment" value=0>
                    </div>
                    <div class="form-group">
                        <p>Refinance option</p>
                        <div class="radio-buttons">
                            <label>
                                <input type="radio" name="refinance_button" id="refi_yes"> Yes
                            </label>
                            <label>
                                <input type="radio" name="refinance_button" id="refi_no" checked> No
                            </label>
                        </div>
                        <br>
                        <div class="refinance-inputs" id="refinance-inputs">
                            <div class="form-group">
                                <label for="refi_interest">New interest rate (%)</label>
                                <input type="number" step="0.01" id="refi_interest" name="refi_interest" value="{{ refi_interest}}">
                            </div>
                            <div class="form-group">
                                <label for="refi_loan_duration">New loan duration (months)</label>
                                <input type="number" id="refi_loan_duration" name="refi_loan_duration" value = "{{ refi_loan_duration }}">
                            </div>
                            <div class="form-group">
                                <label for="refi_start_date">Refinance start date</label>
                                <input type="text" id="refi_start_date" name="refi_start_date" placeholder="MM/DD/YYYY" value="{{ form.date.value|default:'' }}">
                                {% if form.date.errors %}
                                    <div class="error">{{ form.date.errors }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <script src="{% static 'calculator/js/refinance_option.js' %}"></script>
                    <br>
                    <a href="#" class="nav-link" onclick="navigateSection(event, 'standard_section')">Back</a>
                </div>
                <div class="form-group">
                    <input type="submit" value="Calculate">
                </div>
            </form>
        </div>
        <script src="{% static 'calculator/js/advanced_inputs.js' %}"></script>
        <script src="{% static 'calculator/js/dateErrorHandler.js' %}"></script>
    
        <div class="output_container">
            <h2>Monthly payment: ${{ monthly_payment|floatformat:2 }}</h2>

            <h4>Down payment: ${{ down_payment }} </h4>

            <h4>Loaned amount: ${{ loaned_amount }}</h4>

            <h4>Total interest amount: ${{ total_interest_amount|floatformat:2 }} </h4>

            <h4>Total price amount: ${{ total_price_amount|floatformat:2 }} </h4>

            <!-- Canvas where the chart will be rendered -->
            <div class="interestDoughnutChart">
                <canvas id="interestDoughnutChart"></canvas>
            </div>
            <script>
                // Get data from Django context
                var category1 = {{ car_price }};
                var category2 = {{ total_interest_amount|floatformat:2 }};

                var ctx = document.getElementById('interestDoughnutChart').getContext('2d');
                var myPieChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: ['Car price', 'Interest amount'], // Labels for the chart
                        datasets: [{
                            data: [category1, category2], // Values for each category
                            backgroundColor: ['#1F51FF', '#1434A4'], // Colors for each category
                        }]
                    },
                    options: {
                        responsive: true
                    }
                });
            </script>
        </div>
    </div>

    <div class="principal_plot">
        <canvas id="principal_chart"></canvas>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            var ctx = document.getElementById('principal_chart').getContext('2d');
            var principalData = JSON.parse('{{ plot_data|safe }}');
            var principal_chart = new Chart(ctx, {
                type: 'scatter',
                data: {
                    datasets: [{
                        label: 'Principal over the loan',
                        data: principalData,
                        backgroundColor: 'rgba(104, 126, 255, 0.7)'
                    }]
                },
                options: {
                    scales: {
                        x: {
                            type: 'linear',
                            position: 'bottom'
                        },
                        y: {
                            type: 'linear',
                            position: 'left'
                        }
                    }
                }
            });
        });
    </script>

    <div class="amortization_table">
        <table id="amortization_table">
            <tr>
                <th>Month</th>
                <th>Payment date</th>
                <th>Principal portion</th>
                <th>Interest portion</th>
                <th>Remaining Balance</th>
            </tr>
        </table>
    </div>
    <script>
        var table = document.getElementById("amortization_table");

        var data = JSON.parse('{{ table_data|escapejs }}');

        // Iterate over the list of dictionaries
        data.forEach(function(row) {
            // Create a new row
            var newRow = table.insertRow();
        
            // Iterate over the keys in the dictionary and populate cells
            for (var key in row) {
                if (row.hasOwnProperty(key)) {
                    var cell = newRow.insertCell();
                    if (key === 'Principal portion' || key === 'Interest portion' || key === 'Remaining balance') {
                        if (Math.abs(row[key]) < 0.0001){
                            cell.innerHTML = '$' + '0'; // Display '0' instead of '-0.0'
                        }
                        // Add a dollar sign ($) before displaying the value
                        cell.innerHTML = '$' + row[key];
                    } else {
                        // Display other values as is
                        cell.innerHTML = row[key];
                    }   
                }
            }
        });
    </script>

    <h2>Monthly Payment Calculation</h2>
    <p1>
        Explain the monthly payment formula habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
    </p1>
    <br>
    <h2>Car Devaluation</h2>
    <p1>
        About car devaluation habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
    </p1>
    <br>
    <h2>About</h2>
    <p1>
        General info tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
    </p1>

</body>
</html>